body, a{
    color: var(--medium-dark-green);
}

.portfolio_show_All .container-fluid{
    width: 92%;
}

.gallery{
    font-family: var(--italic_curvy_font);
}

.options p, #always-border{
    font-family: var(--straight_strict_font);
    letter-spacing: 0.3vh;
    position: relative;
    font-size: 1.8vh;
}

#always-border::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 2vh;
    width: 100%;
    height: 0.1vh;
    background: var(--medium-dark-green);
}

.options p::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2vh;
    width: 0;
    height: 0.1vh;
    background: var(--medium-dark-green);
    transition: all 0.3s ease-in-out;
}

.placeholder,.moving_img{
    width:44.5vh;
    height: 33vh;
}

.options p:hover::before{
    width: 100%;
}

.gallery_1{
    background-image: url(../img/portfolio-big-images1-1.jpg);
}
.gallery_2{
    background-image: url(../img/portfolio-images1.jpg);
}
.gallery_3{
    background-image: url(../img/portfolio-images2.jpg);
}
.gallery_4{
    background-image: url(../img/portfolio-images3.jpg);
}
.gallery_5{
    background-image: url(../img/portfolio-images4.jpg);
}
.gallery_6{
    background-image: url(../img/portfolio-images5.jpg);
}
.gallery_7{
    background-image: url(../img/portfolio-images-9.jpg);
}
.gallery_8{
    background-image: url(../img/portfolio-images-13.jpg);
}
.gallery_9{
    background-image: url(../img/portfolio-images-10.jpg);
}
.gallery_10{
    background-image: url(../img/portfolio-images-8.jpg);

}
.gallery_11{
    background-image: url(../img/portfolio-images-11.jpg);
}
.gallery_12{
    background-image: url(../img/portfolio-images-12.jpg);
}
.gallery_13{
    background-image: url(../img/portfolio-images-7.jpg);
}
.gallery_14{
    background-image: url(../img/portfolio-images6.jpg);
}

.moving_img_text{
    position: absolute;
    bottom: -11.7vh;
    left: 0;
    background-color: #e4e4e4;
    padding: 2vh 3vh 0.2vh 3vh ;
    transition: all 0.6s ease-in-out;
}

.moving_img:hover .moving_img_text{
    bottom: 0;
}